nav {
  border: 1px solid gray;
  width: 100%;
  margin: 0 auto;
}

ul.horizontal-navbar {
  list-style-type: none;
  /*padding: 5em;*/
  text-align: center;
}

ul.horizontal-navbar li {
  text-align: center;
  display: inline;
  width: 25%;
  /*float: left;*/
  margin-right: 5em;
}

ul.horizontal-navbar li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  text-decoration: none;
  padding: .4em;;
}

.disabled {
  color: gray;
}

a.disabled {
  color: purple;
}

.active {
  color: yellow;
}

#red {
  color: red;
}

#red + h4 {
  background-color: red;
}

#blue {
  color: blue;
}

#blue + h4 {
  background-color: blue;
}

.grandparent > h4 {
  border: 1px solid;
  border-radius: 10px;
}

.promo {
  font-weight: bold;
  color: gold;
}

input {
  height: 25px;
}
